.comment-form-button {
    font-size: 16px;
    padding: 8px 16px;
    background: #5357b6;
    border-radius: 8px;
    color: white;
}

.comment-form-button:hover:enabled {
    background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
}

.comment-action {
    margin-right: 8px;
}

.comment-action:hover {
    text-decoration: underline;
}
