@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:focus ~ .input-text,
input[type="password"]:focus ~ .input-text,
input[type="password"]:not(:placeholder-shown) ~ .input-text,
input[type="email"]:focus ~ .input-text,
input[type="email"]:not(:placeholder-shown) ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
  @apply text-[#848484] transform -translate-y-7 -translate-x-0 scale-90;
}

#my-checkbox:checked + .bg-gray-200 {
  background-color: black;
}
#my-checkbox:checked + .bg-gray-200 svg {
  display: block;
}

/* The effect after change link */
.choose-link {
  z-index: 2;
}
#action {
  position: absolute;
  top: 0;
  border-bottom: 3px solid #333;
  z-index: 1;
  transition: 1s;
}

/* control progress bar video */

.videoModal_container:hover .control_bar {
  transform: translateY(0);
}

.videoModal_container:hover .informVideo {
  opacity: 100%;
}

.videoModal_container:hover .reactVideo {
  opacity: 100%;
}

.videoModal_container:hover .closeButton {
  opacity: 100%;
}

/* .video-list:hover .control_bar {
  transform: translateY(0);
}

.video-list .informVideo {
  opacity: 100%;
}

.video-list .reactVideo {
  opacity: 100%;
} */
