@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:focus ~ .input-text,
input[type="password"]:focus ~ .input-text,
input[type="password"]:not(:placeholder-shown) ~ .input-text,
input[type="email"]:focus ~ .input-text,
input[type="email"]:not(:placeholder-shown) ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
  @apply text-[#848484] transform -translate-y-7 -translate-x-[-4px] scale-90;
}

#my-checkbox:checked + .bg-gray-200 {
  background-color: black;
}
#my-checkbox:checked + .bg-gray-200 svg {
  display: block;
}

/* The effect after change link */
.choose-link {
  z-index: 2;
}
#action {
  position: absolute;
  top: 0;
  border-bottom: 3px solid #333;
  z-index: 1;
  transition: 1s;
}
.stroke-dashoffset-0 {
  stroke-dashoffset: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
